<div class="grid grid-cols-2 h-screen">
  <div class="bg-accent-dark flex flex-col gap-4 justify-center ps-28">
    <img src="../../../../assets/CustomIcons/Group%2014.png" alt="HomeIcon" class="max-w-48 max-h-64">
    <h1 class="text-white text-3xl font-bold">TasksPals</h1>
    <p class="max-w-md text-white text-l m-8">
      A collaborative weekly planner is a software application created to assist users in organizing and monitoring their tasks, commitments, and objectives in
      an organized and effective way. These tools are crafted to improve productivity and time management by offering a centralized platform where users can create,
      prioritize, and oversee their task lists collaboratively."
    </p>
  </div>
  <div class="flex w-full justify-center items-center">
    <div class="w-1/2">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
