<div class="flex justify-between gap-10 py-5 px-6" >
  @if(todo.completed) {
    <div class="border-l-4 pl-4 border-green-700">
      <h4 class="font-bold">{{todo.title}}</h4>
      <p class="text-gray-400 h-6 overflow-y-hidden">{{todo.description}}</p>
    </div>
  } @else {
  <div class="flex flex-row">
    <div class="border-l-4 pl-4">
      <h4 class="font-bold">{{todo.title}}</h4>
      <p class="text-gray-400 h-6 overflow-y-hidden">{{todo.description}}</p>
    </div>
  </div>

  }

  <div>
  </div>
</div>
