<div class="flex flex-col items-center h-full">
  <div class="container flex flex-col items-center max-w-28 justify-center my-8">
    <div class="mb-4 flex flex-col items-center">
      <img src="../../../../assets/CustomIcons/Home-Icon-Rounded.svg" alt="HomeIcon" class="max-w-28 max-h-28 mb-2">
      <p class="font-bold text-xl text-secondary-light">TasksPals</p>
    </div>
  </div>
  <div class="flex flex-col gap-3 mt-auto mb-8">
    <div class="px-2 font-medium cursor-pointer" *ngIf="isAuthenticated$ | async" (click)="onLogout()">
      <div class="flex flex-col justify-center">
        <button class="flex flex-row rounded-md bg-secondary h-12 w-24 items-center justify-center" >
          Logout<mat-icon class="ml-2 material-icons text-accent-dark">logout</mat-icon>
        </button>
      </div>

    </div>
    <div class="px-2 font-medium cursor-pointer" *ngIf="!(isAuthenticated$ | async)">Login</div>
  </div>
</div>
