<div class="flex flex-col items-center h-full">
  <div class="container flex flex-col items-center max-w-28 justify-center my-8">
    <div class="mb-4">
      <img src="../../../../assets/CustomIcons/Home-Icon.svg" alt="HomeIcon" class="max-w-28 max-h-28">
      <h4 class="font-bold text-xl">TasksPals</h4>
    </div>
  </div>
  <div class="flex flex-col gap-3 mt-auto mb-8">
    <div class="px-2 font-medium cursor-pointer" *ngIf="isAuthenticated$ | async" (click)="onLogout()">
      <div class="flex flex-col justify-center"><button mat-icon-button>
          <span class="material-icons">logout</span>
        </button>
        <p>Logout</p></div>

    </div>
    <div class="px-2 font-medium cursor-pointer" *ngIf="!(isAuthenticated$ | async)">Login</div>
  </div>
</div>
