<div class="flex flex-col">
  <div class="flex justify-between items-center mx-4">
    <button mat-icon-button aria-label="Last Week" (click)="addDays(-7)">
      <span class="material-icons">chevron_left</span>
    </button>
    <h1 class="font-bold text-xl">{{ getDateTitle() }}</h1>
    <button mat-icon-button aria-label="Next Week" (click)="addDays(7)">
      <span class="material-icons">navigate_next</span>
    </button>
    <button class="btn btn-icon btn-rounded btn-primary mx-8" (click)="openSlidePanel()">
      <i class="ri-add-line ri-lg"></i>
      Add Todo
    </button>
  </div>

  <div class="mt-4 inline-flex gap-2">
  </div>

  <div class="mt-3 bg-white shadow">
    @for (item of todos; track item.completed; let idx = $index) {
    @if (!isSameDay(item.taskDate,idx)) {
    <div class="flex flex-col bg-primary-dark rounded-full mx-4 my-2">
      <a class="mx-4 text-xl text-white">{{ getDayByString(item.taskDate) }}</a>
      <mat-divider class="my-4"></mat-divider>
    </div>
    }
    <app-todo-card [todoType]="item.taskType" [todo]="item" (click)="onLoadTodoForm(item)"></app-todo-card>
    }
  </div>
</div>

<app-slide-panel [headerText]="'Todo Details'" [isOpen]="isSlidePanelOpen" (onClose)="onCloseSlidePanel()">
  <form [formGroup]="todoForm" (ngSubmit)="onSubmit()" autocomplete="off" novalidate>
    <div class="form-group mb-3">
      <label for="title" class="form-label">Title</label>
      <input type="text" id="title" class="form-control"
             [class]="{'invalid': todoForm.get('title')?.hasError('required') && todoForm.get('title')?.touched, 'valid':todoForm.get('title')?.valid}"
             placeholder="Title" formControlName="title">
      @if (todoForm.get('title')?.hasError('required') && todoForm.get('title')?.touched) {
      <span class="form-error">Title is required.</span>
      }
    </div>
    <div class="form-group mb-3">
      <label for="description" class="form-label">Description</label>

      <textarea name="" rows="10" class="form-control"
                [class]="{'invalid': todoForm.get('description')?.hasError('required') && todoForm.get('description')?.touched, 'valid':todoForm.get('description')?.valid}"
                placeholder="Description" formControlName="description"></textarea>
      @if (todoForm.get('description')?.hasError('required') && todoForm.get('description')?.touched) {
      <span class="form-error">Description is required.</span>
      }
    </div>
    <div class="form-group mb-3">
      <label for="type" class="form-label">Type</label>
      <select class="form-select"
              [class]="{'invalid': todoForm.get('type')?.hasError('required') && todoForm.get('type')?.touched, 'valid':todoForm.get('type')?.valid}"
              formControlName="taskType">
        @for (item of todoType; track $index) {
        <option [value]="item">{{item}}</option>
        }
      </select>
      @if (todoForm.get('type')?.hasError('required') && todoForm.get('type')?.touched) {
      <span class="form-error">type is required.</span>
      }
    </div>
    <div class="form-group mb-3">
      <label for="date" class="form-label">Date</label>
      <mat-form-field class="datepicker">
        <mat-label>Choose a date</mat-label>
        <input matInput [matDatepicker]="picker" (dateInput)="addEvent('input', $event)" (dateChange)="addEvent('change', $event)" formControlName="taskDate">
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      @if (todoForm.get('taskDate')?.hasError('required') && todoForm.get('taskDate')?.touched) {
      <span class="form-error">Date is required.</span>
      }

    </div>
    <div class="flex gap-2">
      <button type="submit" class="btn btn-success">Submit</button>
      <button type="button" class="btn btn-secondary" (click)="onCloseSlidePanel()">Cancel</button>
    </div>
  </form>
</app-slide-panel>
